:root
{
  --header-background: #282c34;
  --body-background: #282c34;
  --header-text: white;
  --body-text: white;

  @media (prefers-color-scheme: light)
  {
    --header-text: #282c34;
    --body-text: #282c34;
    --header-background: white;
    --body-background: white;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body
{
  background-color: var(--body-background);
  color: var(--body-text);
}
.App-header
{
  background-color: var(--header-background);
  color: var(--header-text);
  min-height: calc(20px + 2vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header h1
{
  margin-block-start: 10px;
  margin-block-end: 10px;
}